        .titlebar {
            background-color: #1974C6;
            height: 76px;

        }
        h1 {
            font-size: 15px;
            color: white;
            padding-left: 25px;
            padding-top: 20px;
        }

        
        .container {
            padding-left: 0px;
            padding-right:0px;
            margin-left: 0px;
            margin-right: 0px;
            width: 98.8%;
        }

        img {

            width:100%;
            height: 110px;
        }

        h3{
            font-size:24px;
            color: #111;
            padding-bottom: 10px;

        }

        p{
            line-height: 13px;
            font-size: 18px;
        }
        

        .maincontent {
            

        }
        h2 {
            font-size: 20px;
            font-weight: 600;
        }

        
        .form-control{
            resize:none;
            font-size: 18px;
            padding-left: 10px;
            padding-top: 6px;
            color: #111;
            border-color: #4f4f4f;
            border-radius: 8px;
            
        }

       

        placeholder {
            font-size: 18px;
        }
        .leftcontent{
            padding-left: 40px;
        }
        .rightcontent{
            padding-right:40px;
            

        }

        .cardcontent{
            padding-left: 20px;
        }

        .rectangle {
            background-color: white;
            border-color: #4f4f4f;
            border-width:1px;
            border-style: solid;
            width:100%;
            min-height:300px;
            box-shadow: 0px 2px 4px 1px #C8C8C8;
            border-radius: 8px;
            overflow: hidden;

            
            
        }
        .btn {
         background: #68DAE9;
         color: black;
         font-size: 16px;
         width: 100px;
         height: 40px;
         margin-top:10px;
         margin-bottom: 20px;
         border-color: #29AABB;
        } 
        .btn:hover{
            background:#09545E;
            color: white;

        }
/*
        .button {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
*/

